.row
  section.panel.callout.radius
    p Dieses Projekt wartet nun auf die Freischaltung. Ein Mitarbeiter von Contribute.de wird Ihre Kampagne in Kuerze freischalten oder sich mit Ihnen in Verbindung setzen. In der Zwischenzeit koennen Sie Ihre Kampagne bearbeiten, indem Sie auf "Kampagne bearbeiten" in der Sidebar klicken. Ihr Projekt wird weiterhin im Entwurfsmodus bleiben und nicht fuer andere Mitglieder sichtbar sein.
